h1 {
  background-color: darkblue;
  font-size: 200%;
  font-family: "Times New Roman", Times;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 200px;
  border-radius: 100px;
}
body {
  background-color: darkgrey;
  font-size: 30px;
  font-family: "Times New Roman", Times;
  font-style: normal;
  text-align: center;
  color: white;
  background-color: powderblue;
  background-size: cover;
  background-repeat: no-repeat;
}
a:link {
  color: powderblue;
}
a:visited {
  color: red;
}
a:hover {
  color: powderblue;
}
